*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkslategray;
    
}

#img-titulo{
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0 0;
}

#titulo{
    text-align: center;
    color: white;
    text-decoration: underline;
}

.div-parrafo{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.parrafo{
    text-align: justify;
    font-size: 18px;
    color: white;    
}

.img-parrafo{
    width: 30%;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.div-rs{
    width: 100%;
    height: auto;
    text-align: right;
}

.rs{
    width: 40px;
    height: 40px;
    margin: 1%;
}

#pie{
    width: 100%;
    height: 90px;
    border-radius:0 0 20px 20px;
}